---
import SEO from '../components/SEO.astro';

export interface Props {
  title: string;
  description: string;
  canonical: string;
  ogImage?: string;
  ogType?: string;
  twitterHandle?: string;
}

const { title, description, canonical, ogImage, ogType, twitterHandle } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      canonical={canonical}
      ogImage={ogImage}
      ogType={ogType}
      twitterHandle={twitterHandle}
    />
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
